html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    /* background: #000; */
    padding-left: 5%;
    padding-right: 5%;
    background-color: #fff;
}
.flexbox{
    display:flex;
}
ul li{
    color:rgb(122, 121, 121);
    font-size: 1.5rem; 
    font-family: 'Roboto', sans-serif;
}
.cfont{
    font-size: 2.5rem; font-family: 'Roboto', sans-serif;
}
.ctfont{
    font-size: 1.5rem; font-family: 'Roboto', sans-serif; color:rgb(122, 121, 121);
}
.ch4{
    font-size: 2.5rem; font-family: 'Roboto', sans-serif;
}
.image{
    width: 100%;
}
p{
    text-align: justify;
}
/* .left{
    float:left;
}
.right{
    float:right;
} */
/* .iblock{
    display:block;
} */